div.form.departure {
  display: none;
  padding: 0;
  margin: 0;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  border: 1px solid #dacccc;

  font-family: Arial, serif;

  font-size: 1mm;

  &.show {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  > div.intro {
    font-size: 2.7mm;
    line-height: 3.5mm;
    margin: 10mm 0 0 158mm;
  }

  &.page2 {
    > div.intro {
      margin: 15mm 0 0 158mm;
    }

    > div.breakLine {
      margin-top: 0;
    }
  }

  > div.header {
    margin: 7.5mm 0 2.5mm;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 3.3mm;
    font-weight: bold;
    gap: 1.7mm;
    text-align: center;
  }

  > div.topic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 21.8mm 1.5mm;

    > div.title {
      display: flex;
      justify-content: center;
      font-size: 3.2mm;
      font-weight: bold;
    }

    &.topic3 > div.title {
      margin-bottom: 2mm;
    }

    &.topic4 {
      > div.title {
        text-align: center;
      }

      > div.dates {
        padding: 0 70.4mm 0 20.4mm;
        margin-top: 0.8mm;
      }

      > div.jobTitle2 {
        justify-content: flex-end;
        margin-top: 1.6mm;
        margin-bottom: 0.8mm;
      }

      > div.subtitle {
        display: flex;
        justify-content: center;
        font-size: 2.5mm;
        text-align: center;
      }

      > div.currentDateAndSignature {
        display: flex;
        align-items: flex-start;

        > div.currentDate {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 2.5mm;
          flex: 1;
        }

        > div.space {
          width: 51.9mm;
        }

        > div.signature {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: stretch;
          width: 55mm;

          div.square {
            height: 18mm;
            border: 0.5px solid #000;
          }

          span {
            font-size: 2.5mm;
            text-align: center;
          }
        }
      }
    }

    &.topic5 {
      .organization2,
      .organization3 {
        display: flex;
        justify-content: flex-end;
      }

      .organization3 {
        justify-content: space-between;

        span {
          text-align: center;
        }
      }

      .organizationAddress {
        align-items: flex-start;

        span {
          text-align: center;
        }
      }

      .organizationAddress2 {
        justify-content: flex-end;
      }

      .documentTitle {
        padding-left: 11mm;
      }

      .documentWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;

        .left {
          display: flex;
          flex-direction: column;
          align-items: stretch;

          > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.6mm;

            span {
              font-size: 2.5mm;
              text-align: center;
            }
          }

          > .documentType {
            span {
              flex: 1
            }
          }

          > .documentSeriesAndNumber {
            padding-right: 4.4mm;

            > span:first-child {
              width: 18.5mm;
            }
          }

          > .dateSubtitle {
            margin-bottom: 0;
          }

          > .documentStartDate {
            padding-left: 9mm;
            padding-right: 38.5mm;
          }

          > .documentExpiredDate {
            padding-right: 11mm;
            margin-bottom: 0;

            > span:first-child {
              font-weight: bold;
              width: 34mm;
            }
          }

          > .documentAdditional {
            margin-bottom: 0;
          }

          > .signatureWrapper {
            align-items: flex-start;

            > span:first-child {
              font-weight: bold;
              width: 50mm;
            }

            > div.signature {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;

              div.square {
                height: 11.8mm;
                width: 56.5mm;
                border: 0.5px solid #000;
              }
            }

          }
        }

        .right {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          width: 56.1mm;

          .square {
            height: 51mm;
            border: 0.5px solid #000;
            margin-top: 0.5mm;
          }

          span {
            font-size: 2.5mm;
            text-align: center;
          }
        }
      }
    }

    &.topic6 {
      margin-bottom: 0;

      > div.subheader {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0.9mm 0;
      }

      > div {
        margin-bottom: 0.8mm;

        &.name {
          display: flex;
          align-items: flex-start;

          span {
            text-align: center;
          }
        }

        &.dateAndSignature {
          align-items: flex-start;
          margin-bottom: 0;

          .date {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            flex: 1;

            span {
              font-size: 2.5mm;
            }
          }

          .space {
            width: 54mm;
          }

          .signature {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;

            .square {
              height: 10.8mm;
              width: 55.5mm;
              border: 0.5px solid #000;
            }

            span {
              font-size: 2.5mm;
            }
          }
        }
      }
    }

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.8mm;

      &.dates,
      &.district,
      &.address {
        margin-top: 1.6mm;
      }

      &.address {
        padding-right: 22mm;
      }

      &.phone {
        span:first-child {
          padding-right: 13mm;
        }
      }

      > div.space3 {
        width: 88.7mm;
      }

      > span {
        font-size: 2.5mm;
      }

      > div.wrapper {
        display: flex;
        flex-direction: column;

        > div {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          margin-top: 1.6mm;

          &:first-child {
            margin-top: 0.8mm;
          }

          &.documentDateSubtitle {
            font-size: 2.5mm;
            padding-left: 78mm;
          }

          //&.documentExpired {
          //
          //  > span:nth-child(4) {
          //    width: 22.4mm;
          //    text-align: center;
          //  }
          //
          //  > span:nth-child(6) {
          //    width: 13.4mm;
          //    text-align: center;
          //  }
          //}

          > span {
            font-size: 2.5mm;
          }

          > div.space2 {
            width: 19.4mm;
          }
        }
      }
    }
  }

  div.charsWrapper {
    display: inline-flex;
    flex-direction: row;
    gap: 1.2mm;

    div.charBox {
      width: 3.2mm;
      height: 4.7mm;
      border: 0.5px solid #000;
      background: #fff;
    }
  }

  div.breakLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3mm;
    margin: 1.7mm 22mm 0;

    div.lines {
      flex: 1;
      height: 0;
      border-bottom: 0.7mm dashed #000;
    }

    span {
      font-size: 2.5mm;
    }
  }

  div.footer {
    margin-top: 0;
    display: flex;
    justify-content: center;
    font-size: 2.8mm;
    font-weight: bold;
    text-align: center;
  }
}
